<h1> Sub ReadIt: <%= @sub.title %> </h1>
<p> Description: <%= @sub.description %> </p>
<br><br>

<%  if current_user.id == @sub.moderator_id %>
  <%= link_to "Edit", edit_sub_url(@sub) %>
<% end %>
<p>moderated by: <%= @sub.moderator.email %> </p>
